

.content-bg{
    width: 885px;
    height: 529px;
    border: 2px solid #090305;
    position: relative;
    left: 396px;
    top: 51px;



}

.img-content{

    padding-top: 75px;
    padding-left: 297px;
}

