/*.header-menu{
    border: 3px solid brown;
    margin-top: 45px;
    display: flex;
}
.header-menu ul {
}*/
.header-menu{
    background-color: #35444f;
    margin-top: 45px;
    height: 69px;
}
ul.menu-ul{
    display: flex;
    justify-content: center;
}
li.menu-li{
    padding: 20px;
}
li.menu-li a{
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    padding: 0 43px;
}
li.menu-li:hover {
    background-color: #222f3a;
}


/*li.menu-li a::before{*/
    /*content: '';*/
    /*width: 0;*/
    /*height: 3px;*/
    /*background-color: #ffe82b;*/
    /*position: absolute;*/
    /*top: 90%;*/
    /*left: 0;*/
    /*transition: .5s;*/
    /*mix-blend-mode: multiply;*/
/*}*/
/*li.menu-li a::after{*/
    /*content: '';*/
    /*width: 0;*/
    /*height: 3px;*/
    /*background-color: #0d1dff;*/
    /*position: absolute;*/
    /*top: 90%;*/
    /*right: 0;*/
    /*transition: .5s;*/
    /*mix-blend-mode: multiply;*/
/*}*/
/*li.menu-li:hover{*/
    /*background-color: #e1d4e1;*/
    /*border: 2px solid #4bcaff;*/
    /*border-radius: 5px;*/
/*}*/
/*li.menu-li:hover a::before{*/
    /*width: 50%;*/
    /*transform: translateX(100%);*/
/*}*/
/*li.menu-li:hover a::after{*/
    /*width: 50%;*/
    /*transform: translateX(-100%);*/
/*}*/
/*li.menu-li a:hover{*/
    /*color: #e62117;*/
/*}*/