
.left-menu{

    border: 2px solid #090305;
    width: 344px;
    height: 399px;
    margin-top: 51px;
    float: left;
}
.left-menu-li{
    display:block;
    line-height: 80px;
    padding-left: 44px;
}
.left-menu-li a{
    display:block;
    color:  #485863;
    font-size: 26.99px;
    font-weight: 400;
}
/* Подсветка наведденого пункта */
.left-menu-li:hover{
    background: #dcdcdc;
    font-size: 26.99px;
    font-weight: 400;
}
.left-menu-li a:hover{
    padding-left: 25px;
    color:  #000000;
    font-size: 26.99px;
    font-weight: 400;
}

