.logo{
    width: 292px;
    height: 74px;
    border: 1px solid yellow;
    font-family: 'Myriad Pro';
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}
.part-logo{
    font-family: 'Myriad Pro';
    color:  #4bcaff;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}