.logo{
    width: 292px;
    height: 74px;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    margin-top: 61px;
}
.part-logo{
    color:  #4bcaff;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}