@font-face {
    font-family: 'Verdana', sans-serif;
    src: url("../fonts/Verdana/Verdana.ttf");
}
body{
    margin: 0;
    padding: 0;
    background: url("../img/bg.jpg") no-repeat 50% 50%;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
*{
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
a{
    text-decoration: none;

}
.header{
    width: 100vw;
    height: 55px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
}
.header-hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.name-logo{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}
.name-logo:hover, .login-hero{
    color: #3cb878;
}
.icons{
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin-left: 600px;
}
.icon{
    width: 20px;
    height: 20px;
    background-image: url("../img/sprite.png");
    cursor: pointer;
}
.sprite-calendar:hover{
    background-position-x: -69px;
}
.sprite-message{
    background-position-x: -19px;
    width: 29px;
}
.sprite-message:hover{
    background-position-x: -88px;
    width: 29px;
}
.sprite-nav{
    background-position: -48px;
    width: 21px;
}
.sprite-nav:hover{
    background-position-x: -117px;
}
.sprite-pipe{
    width: 3px;
    background-position-x: -138px;
}
.welcome{

}
.container{
    width: 444px;
    height: 584px;
    margin: 0 auto;
    margin-top: 75px;
    border-radius: 10px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    background: white;
}
.sign-cube-log{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 47px;
}
.green-cube{
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    box-shadow: 0px 2px 4px 0px rgba(0, 73, 40, 0.52);
}
.all-form-col{
    width: 320px;
    margin: 0 auto;



}
.sign_up{
    color:  #434343;
    font-size: 20px;
    margin-left: 42px;

}
.log-in{
    color:  #3cb878;
    margin-left: auto;
    margin-right: 62px;
}
.two-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15px;

}
.all-buttons{
    width: 157px;
    height: 46px;
    border-radius: 4px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
.fb-button{
    background-color:  #305db8;

}
.google-button{
    background-color:  #df4a32;

}
.name-button{
    font-size: 16px;
}
.entry-icon{
    font-size: 18px;
}
.fb-pipe{
    opacity: 0.1;
}
.or{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    color: #848484;
    align-items: center;


}
.or::before{
    display: inline-block;
    content: '';
    width: 135px;
    height: 1px;
    background: #848484;
    opacity: 0.3;
}
.or::after{
    display: block;
    content: '';
    width: 135px;
    height: 1px;
    background: #848484;
    opacity: 0.3;
}
.all-input-forms{
    margin-top: 10px;


}
.input-form-action{
    width: 301px;
    height: 40px;
    border-radius: 4px;
    opacity: .6;
    margin-top: 5px;
    margin-bottom: 5px;
}
.all-input-forms input{
    padding-left: 17px;
}
.form-action{

}