@font-face {
    font-family: 'Verdana', sans-serif;
    src: url("../fonts/Verdana/Verdana.ttf");
}
*{
    font-family: 'Verdana', sans-serif;
}
body {
    margin: 0px;
    padding: 0px;

}
.main{
    width: 1366px;
    height: 768px;
    background: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 100px;
}
.logo{
    display: inline-block;
}
.logo-text {
    margin: 0;
    text-transform: uppercase;
}
.text-header{
    display: inline-block;
    margin-left: 5px;
}
h1,h2,p{
    color: #ffffff;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 18px;
    text-align: center;
}

.contact-mail{
    display: inline-block;
    float: right;

}
.container{
    padding: 49px 155px;
}
p {
    font-size: 18px;
    margin-top: 0;
    display: block;
}
.text-mail{
    margin-bottom: 0;
    margin-top: 10px;
}
.text-tel{
    text-align: right;
}


