
body {
    margin: 0px;
    padding: 0px;
    background: url("../img/bg.jpg");
    height: 100vh;
    background-size: cover;
}
h1, h2 {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}
h1{
    font-size: 29px;

}
h2 {
    font-size: 18px;
}
.logo{
    float: left;
}
.text-header{
    display: inline-block;
}
